body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.form-input{
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: burlywood;
  font-size: 16px;
  margin-top: 15px;
  padding: 15px 20px;
  width: 80%;
}

.form-button{
  background-color: blueviolet;
  color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}

.app-container {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  padding: 30px;
  width: 600px;
}
