body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.app-container {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  padding: 30px;
  width: 600px;
}

header{
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.form-input{
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: burlywood;
  font-size: 16px;
  margin-top: 15px;
  padding: 15px 20px;
  width: 80%;
}


.form-button{
  background-color: #885df1;
  color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}
main {
  padding: 30px 0;
}

.weather-update{
  display: flex;
  justify-content: space-between;
}

.weather-city{
  margin: 0;
  color: #272142;
  font-size: 38px;
  line-height: 48px;
  
}

.weather-details{
  color: rgba(39, 33, 64, 0.4);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

}

strong {
  color: #f65282;
}

.temperature{
  display: flex;
}

a{
  color: #885df1;
}
footer {
  border-top: 1px solid #f9f7fe;
  color: rgba(0, 0, 0, 0.6);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
}